body {
    margin: 0;
}
h1 {
    font-family: consolas, "Courier New", monospace;
    margin: 40px auto 0 auto;
    text-align: center;
    font-size: 2em;
    border-bottom: 10px double #5f2b7b;
    width: 50%;
}
header {
    text-align: center;
}
header p {
    margin: 10px auto 40px auto;
    width: 320px;
}
h2, a {
    font-family: consolas, "Courier New", monospace;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
section {
    max-width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: 20px outset #eaf3ea;
    border-radius: 10px;
    justify-content: space-between;
    padding: 15px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
img {
    max-width: 100%;
    max-height: 400px
}
.image {
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 95%;
    margin: 40px auto;  
    line-height: 1.5;  
}
.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
a {
    font-family: monospace, arial, helvetica;
    text-decoration: none;
    color: black;
    line-height: 1.5;
    font-size: 1em;
}
a:hover {
    border-bottom: 5px solid #5f2b7b;
    font-weight: bold;

}
footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 30px;
}
.fa-frog {
    color: green;
    font-size: 2em;
    margin: 0 20px;
}
.fa-github, .fa-linkedin {
    font-size: 1.5em;
    color: rgb(0, 87, 0);
}
/*mobile styles*/
@media only screen and (max-width: 780px) {
    section {
        border: 10px outset #eaf3ea;
    }
    p {
        width: 100%;
    }
}

/*desktop/tablet styles*/
@media only screen and (min-width: 781px) {}