body {
    margin: 0;
    padding: 0 15px 0 15px;
}

h1 {
    font-family: consolas, "Courier New", monospace;
    text-align: center;
    width: fit-content;
    border-bottom: #5f2b7b9c 5px dotted;
}

p {
    font-family: sans-serif, monospace, "roboto";
}

.bi-github,
.bi-linkedin {
    transition: 0.5s ease;
}

.bi-github:hover,
.bi-linkedin:hover {
    rotate: 45deg;
}

header {
    & .profile {
        background-color: #5f2b7b;
        border: white solid 10px;
        padding: 3px;
        border-radius: 8px;
    }

    & .avatar {
        max-width: 800px;
        margin: 15px auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        padding: 20px 10px;
        background-color: #eaf3ea !important;

        & p {
            max-width: 450px;
            background-color: white;
            margin: 0;
            padding: 10px;
            border-radius: 8px;
        }

        img {
            max-width: 150px;
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    & h2,
    a {
        font-family: consolas, "Courier New", monospace;
        text-align: center;
    }

    & h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    & section {
        max-width: 22%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        border: 20px outset #eaf3ea;
        justify-content: space-between;
        padding: 10px;
    }

    & img {
        max-width: 100%;
        max-height: 400px
    }

    & .image {
        text-align: center;
    }

    & p {
        width: 95%;
        margin: 20px auto;
        line-height: 1.5;
    }

    & .buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;

        & .btn {
            border-radius: 0;
            border: none;
            background-color: rgb(0, 87, 0);
            transition: background-color 0.3s ease-out;
        }

        & .btn:hover {
            background-color: #5f2b7b;
        }
    }
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 20px;

    & .bi-linkedin,
    .bi-github {
        color: #5f2b7b;
    }
}

/*mobile styles*/
@media only screen and (max-width: 780px) {
    main {
        & section {
            border: 10px outset #eaf3ea;
        }

        & p {
            width: 100%;
        }
    }
}